@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;

  --color-obsidian: #0B0A07;
  --color-mint: #C7FFDF;
  --color-brand-red: #F2545B;
  --color-lime: #B2EA36;
  --color-powder: #B9C9E9;
  --color-arctic: #91BFE5;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    background-color: #F6F7F5;
    color: var(--color-obsidian);
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(11, 10, 7, 0.2);
    border-radius: 9999px;
  }
}
